---
import ResponsiveLayout from "@/layouts/ResponsiveLayout.astro";
---

<section>
  <ResponsiveLayout>
    <header class="text-center w-full md:w-2/3 md:mx-auto">
      <h1>Servicios</h1>
      <p class="text-paragraph">
        En el mundo empresarial de hoy, los datos son el activo más valioso. En
        Opper, entendemos el potencial transformador que encierran tus datos. Es
        por eso que ofrecemos una gama completa de servicios de análisis
        diseñados para desbloquear insights significativos y guiar tus
        decisiones empresariales hacia el éxito.
      </p>
    </header>
  </ResponsiveLayout>
</section>
