---
import ResponsiveLayout from "@/layouts/ResponsiveLayout.astro";
---

<section>
  <ResponsiveLayout>
    <header class="w-full md:w-1/2 md:mx-auto text-center">
      <h1 class="text-center">Servicios</h1>
      <div class="h-1 w-1/2 bg-primary rounded-md mx-auto mb-5"></div>
      <p class="text-paragraph">
        En el mundo empresarial de hoy, los datos son el activo más valioso. En
        Opper, entendemos el potencial transformador que encierran tus datos.
      </p>
      <br />
      <p>
        Es por eso que ofrecemos una gama completa de servicios de análisis
        diseñados para desbloquear insights significativos y guiar tus
        decisiones empresariales hacia el éxito.
      </p>
    </header>
  </ResponsiveLayout>
</section>
