---
import ResponsiveLayout from "@/layouts/ResponsiveLayout.astro";
---

<section>
  <ResponsiveLayout>
    <div class="h-20 bg-cardBackground p-10 rounded-lg"></div>
  </ResponsiveLayout>
</section>
