---
import ResponsiveLayout from "@/layouts/ResponsiveLayout.astro";
---

<section class="pb-[7rem]">
  <ResponsiveLayout>
    <div class="md:w-2/3 mx-auto space-y-2">
      <h1 class="text-4xl font-bold text-center">Políticas</h1>
      <p class="text-justify">
        Opper (Optimum Performance) se compromete a ofrecer soluciones
        inteligentes mediante la convergencia tecnológica y el análisis de datos
        para optimizar los procesos de nuestros clientes en el Caribe
        colombiano. Buscamos destacar como líderes en innovación analítica,
        promoviendo excelentes condiciones laborales, seguridad, respeto al
        medio ambiente y un sólido compromiso con el cliente. Nos esforzamos por
        liderar la innovación y la transformación digital en la región,
        contribuyendo al desarrollo sostenible y al progreso integral.
      </p>
    </div>
  </ResponsiveLayout>
</section>
