---
import ResponsiveLayout from "../../layouts/ResponsiveLayout.astro";
import {
  LuCodesandbox,
  LuCircuitBoard,
  LuBookOpenCheck,
  LuBrainCircuit,
} from "react-icons/lu";
import ServicesIcon2 from "../../components/iconos/ServiceIcons2.astro";
---

<section>
  <div class="bg-cardBackground h-10">
    <div
      class="h-full w-full bg-background"
      style="clip-path: polygon(50% 0%, 0% 100%, 100% 100%);"
    >
    </div>
  </div>
  <ResponsiveLayout>
    <div class="my-[7rem]">
      <div class="flex flex-col justify-center items-center text-center mb-10">
        <h1 class="uppercase">Servicios</h1>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-9 text-center">
        <div class="flex flex-col items-center gap-1">
          <ServicesIcon2>
            <LuCircuitBoard />
          </ServicesIcon2>
          <h3 class="text-balance w-2/3">Software</h3>
          <p>
            Los modelos de sistemas desarrollados pueden ser encapsulados en una
            aplicación para modificar parámetros manualmente o por base de
            datos, visualizar y analizar resultados.
          </p>
        </div>
        <div class="flex flex-col items-center gap-1">
          <ServicesIcon2>
            <LuBookOpenCheck />
          </ServicesIcon2>
          <h3 class="text-balance w-2/3">Gestión del conocimiento</h3>
          <p>
            Entrenamiento en el software desarrollado por OPPER en la carga de
            datos y análisis de resultados para una óptima toma de decisiones
          </p>
        </div>
        <div class="flex flex-col items-center gap-1">
          <ServicesIcon2>
            <LuCodesandbox />
          </ServicesIcon2>
          <h3 class="text-balance w-2/3">
            Consultoria y desarrollo de modelos de sistemas
          </h3>
          <p>
            Desarrollo de proyectos junto al cliente para validacion constante
            (metodo agil)
          </p>
        </div>
        <div class="flex flex-col items-center gap-4">
          <ServicesIcon2>
            <LuBrainCircuit />
          </ServicesIcon2>
          <h3 class="text-balance w-2/3">I + D + i</h3>
          <p>
            Formulación y ejecución de proyectos usando Business Intelligence e
            Inteligencia artificial
          </p>
        </div>
      </div>
    </div>
  </ResponsiveLayout>
</section>

<style>
  p {
    color: var(--paragraph);
  }
</style>
