---
import ResponsiveLayout from "../../layouts/ResponsiveLayout.astro";
import browserOpperApps from "../../assets/img/browser_opper.png";
import browserTecnogan from "../../assets/img/browser_tg.png";
import { Image } from "astro:assets";
import { PATH } from "../../constants/paths";
import { LuArrowRight } from "react-icons/lu";
---

<section>
  <div
    class="w-full h-[6rem] bg-cardBackground"
    style="clip-path: polygon(100% 0, 0 100%, 100% 100%);"
  >
  </div>
  <div class="bg-cardBackground py-[5rem]">
    <ResponsiveLayout>
      <h1 class="text-4xl text-center mb-[3rem] uppercase">
        Principales Productos
      </h1>
      <!-- Opperapp -->
      <div class="flex flex-wrap md:flex-nowrap gap-2 items-center mb-3">
        <div class="space-y-3 md:w-1/2">
          <h2 class="text-2xl font-bold w-3/4 lg:w-1/2 text-pretty">
            Optimiza tu negocio con <b>Opper Apps</b>
          </h2>
          <p class="text-lg">
            Una suite de herramientas tipo SAAS enfocada en la optimización de
            procesos empresariales. Ofrece pronóstico de demanda, gestión de
            inventarios, y ruteo de vehículos.
          </p>
          <p class="text-lg">
            Incluye también un sistema administrativo para el control de ventas
            y compras, facturación electrónica, punto POS, y manejo contable.
          </p>
          <div
            class="hover:scale-110 transition-all duration-300 w-max text-primary"
          >
            <a href={PATH.OPPER_APPS} aria-label="opperapps">
              Saber más
              <LuArrowRight className="inline" />
            </a>
          </div>
        </div>
        <div class="md:w-1/2">
          <Image src={browserOpperApps} alt="OpperApps" />
        </div>
      </div>
      <div class="w-full h-[.5px] bg-gray-700 md:hidden mb-16"></div>
      <!-- Tecnogan -->
      <div
        class="flex flex-wrap md:flex-nowrap gap-2 md:flex-row-reverse items-center"
      >
        <div class="space-y-3 md:w-1/2">
          <h2 class="text-2xl font-bold w-3/4 lg:w-1/2 text-pretty">
            Potencia tu ganadería con <b>Tecnogan</b>
          </h2>
          <p class="text-lg">
            Una plataforma AgroTech con inteligencia artificial diseñada para
            mejorar la rentabilidad de las operaciones ganaderas.
          </p>
          <p class="text-lg">
            Integra dispositivos RFID y drones para el seguimiento y monitoreo
            avanzado del ganado, ofreciendo soluciones para la localización
            precisa, inventario bovino, y la recopilación de datos relevantes
            sobre su salud y bienestar.
          </p>
          <div
            class="hover:scale-110 transition-all duration-300 w-max text-primary"
          >
            <a href={PATH.TG} aria-label="opperapps">
              Saber más
              <LuArrowRight className="inline" />
            </a>
          </div>
        </div>
        <div class="sm:col-start-1 md:w-1/2">
          <Image src={browserTecnogan} alt="Tecnogan" />
        </div>
      </div>
    </ResponsiveLayout>
  </div>

  <div
    class="w-full h-[6rem] bg-cardBackground"
    style="clip-path: polygon(100% 0, 0 0, 0 100%);"
  >
  </div>
</section>

<style>
  p {
    color: var(--paragraph);
  }
  h2 b {
    color: var(--primary);
  }
</style>
