---
import { ViewTransitions } from "astro:transitions";
import { Navbar } from "@/components/navbar/Navbar";
import MainFooter from "@/components/footer/MainFooter.astro";

interface Props {
  description?: string;
  title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "Opper web"} />
    <meta name="viewport" content="width=device-width" />
    <!-- Mejorar icono -->
    <link rel="icon" type="image/svg+xml" href="/img/iconoV2.png" />
    <!--  -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col">
    <Navbar client:load />
    <div class="flex flex-col justify-between flex-grow">
      <slot />
      <MainFooter />
    </div>
    <style is:global>
      @font-face {
        font-family: "confortaa-bold";
        src: url("../assets/fonts/Comfortaa-Bold.ttf") format("truetype");
      }
      @font-face {
        font-family: "confortaa-regular";
        src: url("../assets/fonts/Comfortaa-Regular.ttf") format("truetype");
      }
      @font-face {
        font-family: "confortaa-light";
        src: url("../assets/fonts/Comfortaa-Light.ttf") format("truetype");
      }
      :root {
        --primary: #0b8f42;
        --secondary: #00cc99;
        --tertiary: #bfbab7;
        --background: #16161a;
        --headline: #fffffe;
        --paragraph: #94a1b2;
        --button: #00cc99;
        --buttonText: #fffffe;
        --stroke: #010101;
        --main: #fffffe;
        --cardBackground: #242629;
      }
      html {
        font-family: system-ui, sans-serif;
        background: var(--background);
        background-size: 224px;
        color-scheme: dark;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
      h1,
      h2 {
        font-family: "confortaa-bold";
      }
      h3,
      h4,
      h5,
      h6,
      a {
        font-family: "confortaa-regular";
      }
      h1 {
        font-size: 2.5rem;
      }
    </style>
  </body>
</html>
